/* Dealing with div whitespace issue:
see http://stackoverflow.com/questions/6871996/css-two-inline-block-width-50-elements-dont-stack */

.container {
    font-size: 0;
}


/* Box sizing */

* {
    box-sizing: border-box;
}


/* Assign styles here */


/* Wrapper around div elements */

.wrapper {
    font-size: 2rem;
    display: inline-block;
    width: 100%;
    border: 2px solid white;
    background: #dad9d9;
}


/* Default styles of photo container */

#photo {
    height: 400px;
    background: gray;
}


/* Paragraph in #photo div */

#photo p {
    font-size: 2rem;
    text-align: center;
    color: white;
}


/* Media rules */

@media screen and (min-width:768px) {
    /* Set wrapper width to 50% */
    .wrapper {
        width: 50%;
    }
    /* Hide label on small screens */
    #photo p {
        display: none;
    }
    /* Background image on small screens */
    #photo {
        background-image: url('../imgs/peacock.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}
